name: Publish Agent Package

on:
  workflow_dispatch: # Allows manual triggering

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4
  
        - name: Setup Bun
          uses: oven-sh/setup-bun@v1
          with:
            bun-version: latest

        - name: Install dependencies
          run: bun ci

        - name: Build Package
          working-directory: ./packages/agent-sdk
          run: bun run build

        - name: Publish package to npm
          working-directory: ./packages/agent-sdk
          run: bun publish
